#main{
	display: flex;
	flex-direction: column;
	align-items: center;
}

form{
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

#nav{
	display: flex;
	flex-direction: row;
	width: 300px;
	justify-content: space-between;
	padding: 10px;
	margin: 10px;
	border: 1px solid green;
}